<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>请假单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" media="all"/>
</head>
<body class="childrenBody">
<!--查询条件开始-->
<!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">-->
<!--    <legend>查询条件</legend>-->
<!--</fieldset>-->
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchForm" lay-filter="searchForm" class="layui-form layui-form-pane">
        <div class="layui-form-item" style="text-align: center">
            <div class="layui-inline">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" id="title" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">请假原因</label>
                <div class="layui-input-inline">
                    <input type="text" name="reason"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline">
                    <input type="tel" name="startTime" id="startTime" readonly="readonly"  class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline">
                    <input type="tel" name="endTime" id="endTime" readonly="readonly"  class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-normal"><span class="layui-icon layui-icon-refresh"></span>重置</button>
            </div>
        </div>
    </form>
</blockquote>
<!--查询条件结束-->

<!--数据表格开始-->
<div>
    <table class="layui-hide" id="leaveBillTable" lay-filter="leaveBillTable"></table>
    <div id="leaveBillToolBar" style="display: none">
        <button type="button" lay-event="addLeaveBill" class="layui-btn layui-btn-sm "><span class="layui-icon layui-icon-add-1"></span>创建请假单</button>
        <button type="button" lay-event="batchDeleteLeaveBill" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>批量删除</button>
    </div>
    <div id="leaveBillRowBar" style="display: none">
        {{#  if(d.state==0){ }}
        <button type="button" lay-event="startProcess" class="layui-btn layui-btn-xs"><span class="layui-icon layui-icon-about"></span>提交</button>
        <button type="button" lay-event="updateLeaveBill" class="layui-btn layui-btn-xs layui-btn-warm"><span class="layui-icon layui-icon-edit"></span>修改</button>
        <button type="button" lay-event="deleteLeaveBill" class="layui-btn layui-btn-xs layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
        {{#  } else if (d.state==1) { }}
        <button type="button" lay-event="view" class="layui-btn layui-btn-xs"><span class="layui-icon "></span>审批进度</button>
        {{#  } else if (d.state==2) { }}
        <button type="button" lay-event="view" class="layui-btn layui-btn-xs"><span class="layui-icon "></span>审批进度</button>
        {{#  } else if (d.state==3) { }}
        <button type="button" lay-event="view" class="layui-btn layui-btn-xs"><span class="layui-icon "></span>审批进度</button>
        <button type="button" lay-event="deleteLeaveBill" class="layui-btn layui-btn-xs layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
        {{#  } }}
<!--        <button type="button" lay-event="startProcess" class="layui-btn layui-btn-xs"><span class="layui-icon layui-icon-about"></span>提交</button>-->
<!--        <button type="button" lay-event="updateLeaveBill" class="layui-btn layui-btn-xs layui-btn-warm"><span class="layui-icon layui-icon-edit"></span>修改</button>-->
<!--        <button type="button" lay-event="deleteLeaveBill" class="layui-btn layui-btn-xs layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>-->
<!--        <button type="button" lay-event="view" class="layui-btn layui-btn-xs layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>审批进度</button>-->

    </div>
</div>
<!--数据表格结束-->

<!--添加和修改的弹出层开始-->
<div style="display: none;padding: 10px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataForm" lay-filter="dataForm">
        <div class="layui-form-item">
            <label class="layui-form-label">请假标题</label>
            <div class="layui-input-block">
                <input type="hidden" name="id">
                <input type="hidden" name="state" value="0">
                <input type="text" name="title" th:value="'['+${session.user.name}+']的请假单'" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
                <input type="hidden" th:value="${session.user.id}" name="userid">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">请假天数</label>
                <div class="layui-input-inline">
                    <input type="text" name="days" lay-verify="required|number" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">请假时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="leavetime" id="leavetime" lay-verify="required" readonly="readonly" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请假原因</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="reason"  id="reason" placeholder="请输入请假原因"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center">
                <button type="button" lay-submit="" lay-filter="doSubmit" id="doSubmit" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>
<!--添加和修改的弹出层结束-->

<!--查看弹出层的开始-->
<div style="display: none;padding: 5px" id="showLeaveBillDiv">
    <h2 id="show_title" align="center"></h2>
    <div style="text-align: right">
        请假内容:<span id="show_reason"></span>
<!--        发布时间:<span id="show_createtime"></span>-->
    </div>
    <div style="text-align: right">
<!--        请假内容:<span id="show_reason"></span>-->
        发布时间:<span id="show_createtime"></span>
    </div>
    <hr>
    <div id="show_content"></div>
</div>
<!--查看弹出层的结束-->

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery', 'form', 'table', 'layer', 'laydate','layedit'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var layedit = layui.layedit;
        //初始化时间选择器
        laydate.render({
            elem:'#startTime',
            type:'datetime'
        });
        laydate.render({
            elem:'#endTime',
            type:'datetime'
        });
        laydate.render({
            elem:'#leavetime',
            type:'datetime'
        });
        //初始化富文本
        // var editIndex = layedit.build('content');

        //加载数据表格数据
        var tableInit = table.render({
            elem: '#leaveBillTable'
            ,url:'/leaveBill/loadAllLeaveBill'
            ,toolbar: '#leaveBillToolBar' //开启头部工具栏，并为其绑定左侧模板
            ,title: '用户请假单数据表'
            ,height: 'full-205'
            ,cols: [ [
                {type: 'checkbox', fixed: 'left', width:50}
                ,{field:'id', title:'ID', align: 'center', unresize: true, sort: true, width:80}
                ,{field:'title', title:'请假单标题', align: 'center', edit: 'text', minWidth:120}
                ,{field:'leavetime', title:'请假时间', align: 'center', sort: true, minWidth:120}
                ,{field:'days', title:'请假天数', align: 'center', sort: true, minWidth:100}
                ,{field:'reason', title:'请假原因', align: 'center', minWidth:120}
                ,{field: 'state', title: '状态', minWidth:100, align:"center",templet:function(d){
                        var html="";
                        if(d.state==0){
                            html="<font color=red>未提交</font>"
                        }else if(d.state==1){
                            html="<font color=yellow>审批中</font>"
                        }else if(d.state==2){
                            html="<font color=black>审批完成</font>"
                        }else if(d.state==3){
                            html="<font color=gray>已放弃</font>"
                        }else{
                            html="<font color=red>未知状态</font>"
                        }
                        return html;
                    }}
                ,{fixed: 'right', title:'操作',align: 'center', toolbar: '#leaveBillRowBar', minWidth:220}
            ] ]
            ,page: true
        });

        //模糊查询
        form.on("submit(doSearch)",function (data) {
            tableInit.reload({
                where:data.field,
                page:{
                    curr:1
                }
            });
            return false;
        });

        //监听头工具栏事件
        table.on('toolbar(leaveBillTable)', function(obj){
            //得到选中行
            // var checkStatus = table.checkStatus(obj.config.id);
            var checkStatus = table.checkStatus('leaveBillTable');
            // alert(checkStatus);
            switch(obj.event){
                case 'batchDeleteLeaveBill':
                    // layer.msg('批量删除');
                    batchDeleteLeaveBill(checkStatus);
                    break;
                case 'addLeaveBill':
                    openAddLeaveBillLayer();
            };
         });

        //监听行工具条的事件
        table.on('tool(leaveBillTable)', function(obj){ //注：tool 是工具条事件名，deleteLeaveBill 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            // var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            switch (layEvent) {
                case 'deleteLeaveBill':
                    // layer.msg("删除");
                    deleteLeaveBill(data);
                    break;
                case 'updateLeaveBill':
                    openUpdateLeaveBillLayer(data);
                    break;
                case 'startProcess':
                    openShowLeaveBillLayer(data);
                    break;
            }
        });

        /**
         * 打开查看请假单的弹出层
         */
        function openShowLeaveBillLayer(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#showLeaveBillDiv"),
                area:['800px','520px'],
                title:'查看请假单',
                success:function () {
                    $("#show_title").html(data.title);
                    $("#show_reason").html(data.content);
                    $("#show_createtime").html(data.createtime);
                    $("#show_content").html(data.content);
                }
            });
        }

        /**
         * 打开修改请假单的弹出层
         */
        function openUpdateLeaveBillLayer(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','520px'],
                title:'请假单修改',
                success:function () {
                    $("#dataForm")[0].reset();//应该可以不加
                    //装载数据
                    form.val("dataForm",data);
                    // layedit.setContent(editIndex,data.content);//一定要加 不然富文本异步渲染出来有延迟 是个坑
                    url = "/leaveBill/updateLeaveBill";
                }
            });
        }

        /**
        * 打开添加请假单的弹出层
        */
        var mainIndex;
        var url;
        function openAddLeaveBillLayer() {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','520px'],
                title:'请假单发布',
                success:function () {
                    $("#dataForm")[0].reset();
                    // layedit.setContent(editIndex,"");
                    url = "/leaveBill/addLeaveBill";
                }
            });
        }

        /**
        * 监听添加或修改请假单的提交
        */
        // $("#doSubmit").click(function () {
        //     //用于同步编辑器(富文本)内容到textarea（一般用于异步提交）
        //     //在这个方法调用前也会触发表单验证
        //     // layedit.sync(editIndex);
        //     //表单序列化
        //     var data = $("#dataForm").serialize();
        //     // alert(data);
        //     $.post(url,data,function (result) {
        //         // alert(JSON.stringify(data.field));
        //         if (result.code == 200){
        //             tableInit.reload();
        //         }
        //         layer.msg(result.msg);
        //         layer.close(mainIndex);
        //     });
        // });
        //下面是layui的表单监听方式 用lay-filter过滤 要return false data已经获取到 上面自己监听的方法要自己获取data
        form.on("submit(doSubmit)",function (data) {
            //用于同步编辑器(富文本)内容到textarea（一般用于异步提交）
            //在这个方法调用前也会触发表单验证
            // layedit.sync(editIndex);
            // data.content = layedit.getText(editIndex);
            $.post(url,data.field,function (result) {
                // alert(JSON.stringify(data.field));
                if (result.code == 200){
                    tableInit.reload();
                }
                layer.msg(result.msg);
                layer.close(mainIndex);
            });
            return false;
        })

        /**
         * 批量删除请假单
         * @param checkStatus
         */
        function batchDeleteLeaveBill(checkStatus) {
            var length = checkStatus.data.length;
            if (length > 0) {
                layer.confirm("你确定要删除这些请假单吗",{icon: 3, title: '提示'},function (index) {
                    layer.close(index);
                    //获取选中行的数据
                    var data = checkStatus.data;
                    var ids="";
                    $.each(data,function (index,item) {
                        if (index == 0){
                            ids = "ids=" + item.id;
                        }else {
                            ids += "&ids=" + item.id;
                        }
                    });
                    // alert(ids);
                    //向服务端发送请求
                    $.post("/leaveBill/batchDeleteLeaveBill",ids,function (result) {
                        if (result.code == 200){
                            tableInit.reload();
                        }
                        layer.msg(result.msg);
                    });
                });
            }else {
                layer.msg("请至少选择一行数据");
            }
        }

        /**
         * 删除请假单
         * @param data
         */
        function deleteLeaveBill(data) {
            layer.confirm('你确定要删除【'+data.title+'】这条请假单吗',{icon: 3, title: '提示'},function (index) {
                // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                layer.close(index);
                //向服务端发送删除指令
                $.post("/leaveBill/deleteLeaveBill", {id: data.id}, function (result) {
                    if (result.code == 200){
                        tableInit.reload();
                    }
                    layer.msg(result.msg);
                });
            });
        }

    });
</script>
</body>
</html>