<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzh.wms.sys.mapper.RoleMapper">
    <!--根据角色ID删除sys_role_permission中间表数据-->
    <delete id="deleteRolePermissionByRid" parameterType="java.io.Serializable">
        delete from sys_role_permission where rid = #{id}
    </delete>

    <!-- 根据角色ID删除sys_role_user中间表数据-->
    <delete id="deleteRoleUserByRid" parameterType="java.io.Serializable">
        delete from sys_role_user where rid = #{id}
    </delete>

    <select id="queryIdsOfPermissionBelongToRoleByRid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select pid from sys_role_permission where rid = #{value}
    </select>

    <insert id="saveRolePermission">
        insert into sys_role_permission values (#{rid},#{pid})
    </insert>
</mapper>
