<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>流程管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" media="all"/>
    <link rel="stylesheet" href="/resources/layui_ext/dtree/dtree.css" media="all"/>
    <link rel="stylesheet" href="/resources/layui_ext/dtree/font/dtreefont.css" media="all"/>
</head>
<body class="childrenBody">
<!--查询条件开始-->
<!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">-->
<!--    <legend>查询条件</legend>-->
<!--</fieldset>-->
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchForm" lay-filter="searchForm" class="layui-form layui-form-pane">
        <div class="layui-form-item" >
            <div class="layui-inline">
                <label class="layui-form-label">流程部署名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="deploymentName" id="deploymentName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm"><span class="layui-icon layui-icon-refresh"></span>重置</button>
            </div>
            <!--    重置按钮对是否可用重置失效,选择不可用重置后 available还是0 使得查询失效 故这里暂时不作为查询条件        -->
            <!--            <div class="layui-inline">-->
            <!--                <label class="layui-form-label">是否可用</label>-->
            <!--                <div class="layui-input-inline">-->
            <!--                    <input type="radio" name="available" value="1" title="可用" >-->
            <!--                    <input type="radio" name="available" value="0" title="不可用" >-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </form>
</blockquote>
<!--查询条件结束-->

<!--流程部署数据表格开始-->
<div>
    <table class="layui-hide" id="deploymentTable" lay-filter="deploymentTable"></table>
    <div id="deploymentToolBar" style="display: none">
        <button type="button" lay-event="addWorkFlow" class="layui-btn layui-btn-sm layui-btn-warm"><span class="layui-icon layui-icon-add-1"></span>添加流程</button>
        <button type="button" lay-event="batchDeleteWorkFlow" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-add-1"></span>批量删除</button>
    </div>
    <div id="deploymentRowBar" style="display: none">
        <button type="button" lay-event="viewFlowDiagram" class="layui-btn layui-btn-xs"><span class="layui-icon "></span>流程图</button>
        <button type="button" lay-event="deleteWorkFlow" class="layui-btn layui-btn-xs layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>

    </div>
</div>
<!--流程部署数据表格结束-->

<!--流程定义数据表格开始-->
<table id="processDefinitionTable" lay-filter="processDefinitionTable"></table>
<!--流程定义数据表格结束-->

<!--添加和修改的弹出层开始-->
<div style="display: none;padding: 10px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataForm" lay-filter="dataForm">
        <div class="layui-form-item">
            <label class="layui-form-label">流程名称</label>
            <div class="layui-input-block">
                <input type="hidden" name="id">
                <input type="text" name="deploymentName" lay-verify="required" autocomplete="off" placeholder="请输入流程名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">流程备注</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="remark"  id="content"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">是否可用</label>
                <div class="layui-input-inline">
                    <input type="radio" name="available" value="1" title="可用" checked="">
                    <input type="radio" name="available" value="0" title="不可用" >
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center">
                <button type="button" lay-submit="" lay-filter="doSubmit" id="doSubmit" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-sm layui-btn-normal"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>
<!--添加和修改的弹出层结束-->

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript" src="/resources/layui_ext/dtree/dtree.js"></script>
<script type="text/javascript">
    var deploymentTableInit;
    var processDefinitionTableInit;
    layui.extend({
        dtree: '/resources/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['jquery', 'form', 'table', 'layer', 'dtree'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var dtree = layui.dtree;
        //流程部署列表
        deploymentTableInit = table.render({
            elem: '#deploymentTable'
            ,url:'/workFlow/loadAllDeployment'
            ,toolbar: '#deploymentToolBar' //开启头部工具栏，并为其绑定左侧模板
            ,title: '流程部署数据表'
            ,height: 'full-350'
            ,limits : [5,10,15,20]
            ,limit : 5
            ,cols: [ [
                {type: "checkbox", fixed:"left", width:50}
                ,{field:'id', title:'部署ID', align: 'center', unresize: true, sort: true, minWidth:100}
                ,{field:'name', title:'部署名称', align: 'center', edit: 'text', minWidth:100}
                ,{field:'deploymentTime', title:'部署时间', align: 'center', sort: true, minWidth:100}
                ,{fixed: 'right', title:'操作',align: 'center', toolbar: '#deploymentRowBar'}
            ] ]
            ,page: true
        });
        processDefinitionTableInit = table.render({
            elem: '#processDefinitionTable'
            ,url:'/workFlow/loadAllProcessDefinition'
            ,title: '流程定义数据表'
            ,height: 'full-380'
            ,cols: [ [
                {field:'id', title:'流程定义ID', align: 'center', unresize: true, sort: true, width:220}
                ,{field:'deploymentId', title:'流程部署id', align: 'center', sort: true, width:220}
                ,{field:'key', title:'流程定义key', align: 'center', edit: 'text', width:180}
                ,{field:'name', title:'流程定义名称', align: 'center', edit: 'text', width:120}
                ,{field:'version', title:'流程定义版本', align: 'center', sort: true, width:130}
                ,{field:'resourceName', title:'部署资源文件名(*.bpmn)', align: 'center'}
                ,{field:'diagramResourceName', title:'部署资源文件名(*.png)', align: 'center'}
            ] ]
            ,page: true
        });

        //模糊查询
        form.on("submit(doSearch)",function (data) {
            deploymentTableInit.reload({
                where:data.field,
                page:{
                    curr:1
                }
            });
            processDefinitionTableInit.reload({
                where:data.field,
                page:{
                    curr:1
                }
            });
            return false;
        });

        //监听头工具栏事件
        table.on('toolbar(deploymentTable)', function(obj){
            //得到选中行
            // var checkStatus = table.checkStatus(obj.config.id);
            var checkStatus = table.checkStatus('deploymentTable');
            // alert(checkStatus);
            switch(obj.event){
                case 'addWorkFlow':
                    openAddWorkFlowLayer();
                    break;
                case 'batchDeleteWorkFlow':
                    batchDeleteWorkFlow(checkStatus);
                    break;
            };
         });

        //监听行工具条的事件
        table.on('tool(deploymentTable)', function(obj){ //注：tool 是工具条事件名，deleteWorkFlow 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            // var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            switch (layEvent) {
                case 'deleteWorkFlow':
                    // layer.msg("删除");
                    deleteWorkFlow(data);
                    break;
                case 'viewFlowDiagram':
                    openUpdateWorkFlowLayer(data);
                    break;
            }
        });

        /**
         * 打开添加流程的弹出层
         */
        var mainIndex;
        var url;
        function openAddWorkFlowLayer() {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','520px'],
                title:'添加流程',
                success:function () {
                    $("#dataForm")[0].reset();
                    url = "/workFlow/addWorkFlow";
                }
            });
        }

        /**
         * 打开修改流程的弹出层
         */
        function openUpdateWorkFlowLayer(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','520px'],
                title:'修改流程',
                success:function () {
                    $("#dataForm")[0].reset();
                    //装载数据
                    form.val("dataForm",data);
                    url = "/workFlow/viewFlowDiagram";
                }
            });
        }

        /**
        * 监听添加或修改流程的提交
        */
        form.on("submit(doSubmit)",function (data) {
            // alert(data);
            $.post(url,data.field,function (result) {
                // alert(JSON.stringify(data.field));
                if (result.code == 200){
                    deploymentTableInit.reload();
                }
                layer.msg(result.msg);
                layer.close(mainIndex);
            });
            return false;
        });
       /* $("#doSubmit").click(function () {
            //表单序列化
            var data = $("#dataForm").serialize();
            // alert(data);
            $.post(url,data,function (result) {
                // alert(JSON.stringify(data.field));
                if (result.code == 200){
                    deploymentTableInit.reload();
                }
                layer.msg(result.msg);
                layer.close(mainIndex);
            });
        });*/
        //下面是layui的表单监听方式 用lay-filter过滤 要return false data已经获取到 上面自己监听的方法要自己获取data
        /*form.on("submit(doSubmit)",function (data) {
            //用于同步编辑器(富文本)内容到textarea（一般用于异步提交）
            //在这个方法调用前也会触发表单验证
            layedit.sync(editIndex);
            data.content = layedit.getText(editIndex);
            $.post(url,data.field,function (result) {
                // alert(JSON.stringify(data.field));
                if (result.code == 200){
                    deploymentTableInit.reload();
                }
                layer.msg(result.msg);
                layer.close(mainIndex);
            });
            return false;
        })*/

        /**
         * 批量删除流程
         * @param checkStatus
         */
        function batchDeleteWorkFlow(checkStatus) {
            var length = checkStatus.data.length;
            if (length > 0) {
                layer.confirm("你确定要删除这些流程吗",{icon: 3, title: '提示'},function (index) {
                    layer.close(index);
                    //获取选中行的数据
                    var data = checkStatus.data;
                    var ids="";
                    $.each(data,function (index,item) {
                        if (index == 0){
                            ids = "ids=" + item.id;
                        }else {
                            ids += "&ids=" + item.id;
                        }
                    });
                    // alert(ids);
                    //向服务端发送请求
                    $.post("/workFlow/batchDeleteWorkFlow",ids,function (result) {
                        if (result.code == 200){
                            deploymentTableInit.reload();
                            processDefinitionTableInit.reload();
                        }
                        layer.msg(result.msg);
                    });
                });
            }else {
                layer.msg("请至少选择一行数据");
            }
        }


        /**
         * 删除流程
         * @param data
         */
        function deleteWorkFlow(data) {
            layer.confirm('你确定要删除【'+data.name+'】这条流程吗',{icon: 3, title: '提示'},function (index) {
                // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                layer.close(index);
                //向服务端发送删除指令
                $.post("/workFlow/deleteWorkFlow", {id: data.id}, function (result) {
                    if (result.code == 200){
                        deploymentTableInit.reload();
                    }
                    layer.msg(result.msg);
                });
            });
        }

    });
</script>
</body>
</html>